body {
	background:url("Images/Talking_Dolls_Studio.png"); 
	background-repeat: no-repeat;
	padding:20px;
	border: 12px solid #FFFFFF;
	font-size: 125%;
	font-family: "Arvo", serif;
	color: #FFFFFF;
	font-weight: 200;
	line-height: 26px;
}

	
#logo {
	position: absolute;
    top: 6%;
    left: 8%;
    width: 125px;
    height: 125px;
	background-image:url("Images/SCIDE_Design_Logo_white.png");
}

#logo:hover {
	background-image:url("Images/SCIDE_Design_Logo_blue.png");
}

nav {
  background-color: none;
  font-family: "Arvo", serif;
}

.nav_links a {
	color: #333333;
text-decoration: none;
}

.nav_links {
  background-color: #FFFFFF;
  color: #333333;
  text-decoration: none;
  text-align: center;
  display: block;
  float: right;
  width: 140px;
  height: 36px;
  padding-top: 6px;
  margin: 8px;
}

.nav_links:hover {
	background-color: #0066FF
}

.clearfix:after {
  visibility: hidden;
  display: block;
  content: " ";
  clear: both;
  height: 0;
  font-size: 0;
}

footer {
	background-color: none;
	bottom: 28px;
	margin-right: 0px;
	position:fixed;
	width:100%;
	height:40px;
}

#mail {
	position: absolute;
    height: 40px;
	width: 60px;
	display: block;
	float:left;
	bottom: 20px;
	left: 60px;
	background-image:url("Images/mail_icon_white.png");
}

#mail:hover {
	background-image:url("Images/mail_icon_blue.png");
}

#behance {
	position: absolute;
    height: 40px;
	width: 40px;
	display: block;
	float:left;
	background-image:url("Images/behance_logo_white.png");
}

#behance:hover {
	background-image:url("Images/behance_logo_blue.png") 
}

#name a {
	color: #FFFFFF;
text-decoration: none;
}

#name:hover a{
	color: #0066FF;
}

#name{
    text-align:right;
    font-style: bold;
    font-size: 32px;
    position: relative;
    left: -76px;
}



