body {
	background:url("Images/Talking_Dolls_Studio.png"); 
	background-repeat: no-repeat;
	padding:20px;
	border: 12px solid #FFFFFF;
	font-size: 125%;
	font-family: "Arvo", serif;
	color: #FFFFFF;
	font-weight: 200;
	line-height: 26px;
}
	
#logo {
	position: absolute;
    top: 6%;
    left: 8%;
	background-image:url("Images/SCIDE_Design_Logo_white.png");
	background-repeat: none;
	width: 10%;
}

#logo:hover {
	background-image:url("Images/SCIDE_Design_Logo_blue.png");
}


nav {
  background-color: none;
  font-family: "Arvo", serif;
}

.nav_links {
  background-color: #FFFFFF;
  color: #333333;
  text-decoration: none;
  text-align: center;
  display: block;
  float: right;
  width: 140px;
  height: 36px;
  padding-top: 6px;
  margin: 8px;
}

.nav_links:hover {
	background-color: #0066FF
}

.clearfix:after {
  visibility: hidden;
  display: block;
  content: " ";
  clear: both;
  height: 0;
  font-size: 0;
}

footer {
	background-color: none;
	bottom: 28px;
	margin-left: 60px;
	margin-right: 0px;
	position:fixed;
	width:100%;
	height:40px;
}

footer h1{
    text-align:right;
    font-style: bold;
    font-size: 32px;
    float: right;
}

footer h1:hover{
	background-color: #0066FF)
}

footer img{
	height: 40px;
	width: 40px;
	margin-left: 18px;
	display: block;
	background-color: none;
	float:left;
}

