body {
	background-color: #FFFFFF;
	padding:20px;
	border: 12px solid #333333;
	font-size: 125%;
	font-family: "Arvo", serif;
  font-family: "Cabin", sans-serif;
	color: #333333;
	font-weight: 200;
	line-height: 26px;
}
	
#logo {
	position: absolute;
       	top: 6%;
        left: 8%;

}
#logo:hover {background-color:url("Images/SCIDE_Design_Logo_blue.png")
}

nav {
  background-color: none;
  font-family: "Arvo", serif;
}

a {
  background-color: #333333;
  color: #FFFFFF;
  text-decoration: none;
  text-align: center;
  display: block;
  float: right;
  width: 140px;
  height: 36px;
  padding-top: 6px;
  margin: 10px;
}

a:hover {
	background-color: #0066FF
}

.clearfix:after {
  visibility: hidden;
  display: block;
  content: " ";
  clear: both;
  height: 0;
  font-size: 0;
}

section {
	/*height:500px;*/
  display: block;
}



aside {
  display:block;
 }
 aside p {
    font-family: "Cabin", sans-serif;
}

footer {
  background-color: none;
  bottom: 28px;
  margin-right: 0px;
  position:fixed;
  width:100%;
  height:40px;
}

#mail {
  position: absolute;
    height: 34px;
  width: 56px;
  display: block;
  float:left;
  bottom: 7%;
  left: 4%;
  background-image:url("Images/mail_icon_dark_grey.png");
}

#mail:hover {
  background-image:url("Images/mail_icon_blue.png");
}

#instagram {
  position: absolute;
    height: 40px;
  width: 40px;
  display: block;
  float:left;
  bottom: 6%;
  left: 10%;
  background-image:url("Images/homepage_instagram_dark_grey.png");
}

#instagram:hover {
  background-image:url("Images/homepage_instagram_blue.png") 
}

#name a {
  color: #333333;
text-decoration: none;
}

#name:hover a{
  color: #0066FF;
}

#name{
    text-align:right;
    font-style: bold;
    font-size: 48px;
    position: relative;
    left: -6%;
}

