body {
	background:url("Images/Talking_Dolls_Studio.png"); 
	background-repeat: no-repeat;
	padding:20px;
	border: 12px solid #FFFFFF;
	font-size: 125%;
	font-family: "Arvo", serif;
	color: #FFFFFF;
	font-weight: 200;
	line-height: 26px;
}

	
#logo {
	position: absolute;
    top: 7%;
    left: 6%;
    width: 124px;
    height: 125px;
	background-image:url("Images/SCIDE_Design_Logo_white.png");
}

#logo:hover {
	background-image:url("Images/SCIDE_Design_Logo_blue.png");
}

nav {
  background-color: none;
  font-family: "Arvo", serif;
}

.nav_links a {
	color: #333333;
text-decoration: none;
}

.nav_links {
  background-color: #FFFFFF;
  color: #333333;
  text-decoration: none;
  text-align: center;
  display: block;
  float: right;
  width: 140px;
  height: 36px;
  padding-top: 6px;
  margin: 8px;
}

.nav_links:hover {
	background-color: #0066FF
}

.clearfix:after {
  visibility: hidden;
  display: block;
  content: " ";
  clear: both;
  height: 0;
  font-size: 0;
}

footer {
	background-color: none;
	bottom: 1.2em;
	margin-right: 0;
	position:fixed;
	width:100%;
	height:40px;
}

#mail {
	position: absolute;
    height: 34px;
	width: 56px;
	display: block;
	float:left;
	bottom: 7%;
	left: 4%;
	background-image:url("Images/homepage_mail_white.png");
}

#mail:hover {
	background-image:url("Images/homepage_mail_blue.png");
}

#instagram {
	position: absolute;
    height: 40px;
	width: 40px;
	display: block;
	float:left;
	bottom: 6%;
	left: 10%;
	background-image:url("Images/homepage_instagram_white.png");
}

#instagram:hover {
	background-image:url("Images/homepage_instagram_blue.png") 
}

#name a {
	color: #FFFFFF;
text-decoration: none;
}

#name:hover a{
	color: #0066FF;
}

#name{
    text-align:right;
    font-weight: 400;
    font-size: 1.7em;
    position: relative;
    padding-right: .50em;
}

@media only screen and (min-width: 320px) and (max-width: 768px){

	#logo {
    width: 40%;
    height: 40%;
}

}
