body {
	background:url("Images/Talking_Dolls_Studio.png"); 
	background-repeat: no-repeat;
	padding:20px;
	border: 12px solid #FFFFFF;
	font-size: 125%;
	font-family: "Arvo", serif;
	color: #FFFFFF;
	font-weight: 200;
	line-height: 26px;
}
	
#logo {
	position: absolute;
       	top: 6%;
        left: 8%;

}
#logo:hover {background-color:url("Images/SCIDE_Design_Logo_blue.png")
}

nav {
  background-color: none;
  font-family: "Arvo", serif;
}

a {
  background-color: #FFFFFF;
  color: #333333;
  text-decoration: none;
  text-align: center;
  display: block;
  float: right;
  width: 140px;
  height: 36px;
  padding-top: 6px;
  margin: 10px;
}

a:hover {
	background-color: #0066FF
}

.clearfix:after {
  visibility: hidden;
  display: block;
  content: " ";
  clear: both;
  height: 0;
  font-size: 0;
}

section {
	height:500px;
}
footer {
	background-color: none;
	 clear:both;
	 width:100%;
	height:40px;
	position:absolute;
}
footer h1{
    text-align:right;
    font-style: bold;
    font-size: 32px;
    margin-right: 80px;
}
footer h1:hover{
	background-color: #0066FF)
}
footer img{
	height: 40px;
	width: 40px;
	position: absolute;
	left: 0px;
    top: 0px;
	z-index: -1;
}

