body {
	background:url("img/stripes.png"), url("img/background.jpg"), #52596b; 
	background-repeat: repeat-x, no-repeat;
	border: none;
	margin-top: 250px;
	margin-left: 150px;
	font-size: 150%;
	font-family: helvetica, arial, sans-serif;
	color: #fff;
	font-weight: 200;
	line-height: 32px;	
}

h1 {
	margin: 0;
	padding-bottom: 40px;
	width:147px;
	height:44px;
}

hr {
	margin: 0;
	border-color: #fd6e6e;
	width: 40px; 
	
}

a {
	margin: 0;
	width: 246px;
	height: 74px;
}